{% load static %}
<html>
    <head>
        <title>Приложение "Опросы"</title>
        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="branding">
                    <h1><a>Приложение "Опросы"</a></h1>
                </div>
            </div>
            <div style="margin-left: 5%">
                {% if poll_list %}
                    <ul>
                    {% for poll in poll_list %}
                        <li><a style="font-size: 14px" href="{% url 'polls:question' poll.id %}">{{ poll.pub_date}}<tab6>{{ poll.poll_text}}</tab6></a></li>
                    {% endfor %}
                    </ul>
                    <div style="margin-top: 50px">
                        <form action="{% url 'polls:login' %}" method="post">
                            {% csrf_token %}
                        <input type="submit" value="Войти" />
                        </form>
                        <form action="{% url 'polls:logged_out' %}" method="post">
                            {% csrf_token %}
                        <input type="submit" value="Выйти" />
                        </form>
                    </div>
                {% else %}
                    <p class="errornote">Нет опубликованных опросов</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>
