{% load static %}
<html>
    <head>
        <title>{{ poll.poll_text }}</title>
        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="branding">
                    <h1><a>{{ poll.poll_text }}</a></h1>
                </div>
            </div>
            <div id="content" class="colMS">
            {% if error_message %}<p class="errornote">{{ error_message }}</p>{% endif %}
                <div id="content-main">
                    <div class="app-polls module">
                        <form action="{% url 'polls:vote' pk %}" method="post">
                            {% csrf_token %}
                            {% for question, choices in question_dic.items %}
                                <table style="width: 100%">
                                    <caption>
                                        <a class="section">{{ question.question_text }}</a>
                                    </caption>
                                    {% for choice in choices %}
                                        <tr>
                                            <td width="10px"><input type="radio" value={{ choice.id }} name={{ question.id }}></td>
                                            <td width="100%"><label>{{ choice.choice_text }}</label></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endfor %}
                        <div style="margin-top: 50px">
                            <input type="submit" value="Голосовать" />
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
