{% load static %}
<html>
    <head>
        <title>{{ poll.poll_text }}</title>
        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="branding">
                    <h1><a>{{ poll.poll_text }}</a></h1>
                </div>
            </div>
            <div id="content" class="colMS">
                <h1>Опрос пройден. Вот результаты:</h1>
                <div id="content-main">
                    <div class="app-polls module">
                        {% for question, choices in question_dic.items %}
                            <table style="width: 100%">
                                <caption>
                                    <a class="section">{{ question.question_text }}</a>
                                </caption>
                                {% for choice in choices %}
                                    <tr>
                                        <td width="80%">{{ choice.choice_text }}</td>
                                        <td width="20%">{{ choice.votes }} %</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'polls:index' %}">Вернуться к списку вопросов</a>
            </div>
        </div>
    </body>
</html>
